$font-stack:"Lucida Sans",
Verdana,
sans-serif;
$default-font-size: 16px;
$header-font-size: $default-font-size*1.5;
$title-font-size: $default-font-size*2;
$primary-color: rgb(224, 228, 204);
$font-color: rgb(0, 0, 0);
$background-color: rgb(255, 255, 255);
$border-color: rgb(0, 0, 0);
$margin: 15px;
$headers: ('1':rgb(105, 210, 231), '2': rgb(243, 134, 48), '3': rgb(233, 174, 175));
@mixin borders($border-size) {
    border: $border-size solid $border-color;
    margin: 10px;
}