@import'_base';
html,
body {
    height: 100%;
}

body {
    background-color: $background-color;
    color: $font-color;
    font-size: $default-font-size;
    font-family: $font-stack;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: row;
    padding: 0px 50px;
    margin: $margin;
    margin-top: 10px;
}

.site-title {
    font-size: $title-font-size;
}

.base-content {
    margin: $margin;
}

.menu {
    display: flex;
    justify-content: flex-end;
    flex-grow: 2;
}

.site-container {
    @extend .base-content;
    flex: 1 0 auto;
}

.content {
    @extend .base-content;
    margin-bottom: 0px;
}

.site-title {
    padding-top: 50px;
}

footer {
    background-color: $primary-color;
    min-height: 50px;
    display: flex;
    border-top: 2px solid $border-color;
    padding: 20px;
    padding-top: 30px;
    margin-top: $margin;
    flex-flow: column;
    flex-shrink: 0;
    .item {
        text-align: center;
    }
    .name {
        font-weight: bold;
    }
}