@import'_base';
html,
body {
    height: 100%;
}

body {
    background-color: $background-color;
    color: $font-color;
    font-size: $default-font-size;
    font-family: $font-stack;
    display: flex;
    flex-direction: column;
}

.site-container {
    flex: 1 0 auto;
    margin: 20px;
}

footer {
    background-color: $primary-color;
    min-height: 50px;
    display: flex;
    border-top: 2px solid $border-color;
    padding: 20px;
    padding-top: 30px;
    margin-top: 20px;
    flex-flow: column;
    flex-shrink: 0;
    .item {
        text-align: center;
    }
    .name {
        font-weight: bold;
    }
}