html,
body {
  height: 100%;
}

body {
  background-color: white;
  color: black;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

.site-container {
  flex: 1 0 auto;
  margin: 20px;
}

footer {
  background-color: #e0e4cc;
  min-height: 50px;
  display: flex;
  border-top: 2px solid black;
  padding: 20px;
  padding-top: 30px;
  margin-top: 20px;
  flex-flow: column;
  flex-shrink: 0;
}

footer .item {
  text-align: center;
}

footer .name {
  font-weight: bold;
}
