/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: white;
  color: black;
  font-size: 16px;
  font-family: "Lucida Sans", Verdana, sans-serif;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  flex-direction: row;
  padding: 0px 20px;
  margin: 15px;
  margin-top: 10px;
}

.site-title {
  font-size: 32px;
}

.base-content, .site-container, .content {
  margin: 15px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  flex-grow: 2;
}

.site-container {
  flex: 1 0 auto;
}

.content {
  margin-bottom: 0px;
  flex-direction: row;
}

.site-title {
  padding-top: 50px;
}

footer {
  background-color: #e0e4cc;
  min-height: 50px;
  display: flex;
  border-top: 2px solid black;
  padding: 20px;
  padding-top: 30px;
  margin-top: 15px;
  flex-flow: column;
  flex-shrink: 0;
}

footer .item {
  text-align: center;
}

footer .name {
  font-weight: bold;
}

.menu-selector {
  display: flex;
  justify-content: flex-end;
  flex-grow: 2;
}

.menu-selector .item {
  border: 1px black;
  background-color: #e0e4cc;
  border-radius: 2px;
}

/*Desktop*/
@media only screen and (min-width: 1024px) {
  .menu-selector {
    display: none;
  }
  .content {
    display: flex;
  }
  .article {
    margin: 0px 20px;
  }
}

/*Mobile*/
@media only screen and (max-width: 767px) {
  .site-title {
    display: none;
  }
  .menu {
    display: none;
  }
  .article {
    margin: 20px;
  }
}

/*Tablet*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .menu {
    display: none;
  }
  .content {
    position: relative;
    display: flex;
    flex-flow: row wrap;
  }
  .article:first-of-type {
    flex: 0 1 100%;
    margin: 20px;
  }
  .article {
    flex: 1 0 45%;
    margin: 20px;
  }
}

.header-1 {
  background-color: #69d2e7;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  flex-grow: 2;
  padding: 10px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  max-width: 100px;
  margin-left: auto;
  margin-right: 0;
}

.header-2 {
  background-color: #f38630;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  flex-grow: 2;
  padding: 10px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  max-width: 100px;
  margin-left: auto;
  margin-right: 0;
}

.header-3 {
  background-color: #e9aeaf;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  flex-grow: 2;
  padding: 10px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  max-width: 100px;
  margin-left: auto;
  margin-right: 0;
}

.item {
  padding: 15px;
}

.image {
  width: 120px;
  height: 120px;
  display: flex;
}

.article {
  background-color: #e0e4cc;
  border: 2px solid black;
}

.article .item {
  padding: 30px;
}
